.main {
  position: -webkit-sticky;
  position: sticky;
  top:0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 5%;
  background-color: rgb(255, 255, 255);
  z-index: 100;
  opacity: 1;
  grid-gap: 0.5rem;
}

.main a:hover {
  color: var(--primary);
}

.main a:focus {
  color: var(--primary);
}

@media screen and (max-width: 800px) {
  .main {
    padding: 1rem 0;
    flex-wrap: wrap;
    font-size: 1.1rem;
  }

}
